<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
    <center>
        <h1>TO-DO LIST</h1>
        <form action="/add" method="post">
            <div>
                <label for="task">Task: </label>
                <input type="text" id="task" name="task"><br><br>
                <input type="submit" value="Submit">
            </div>
        </form>
    </center>

    <div>
        {% for task in todo %}
            {% if task["completed"] == False %}
                <form action="/done" method="post" >
                    <div>
                        <h1>{{ task["id"] }}. {{ task["obj"] }}</h1>
                        <div style="display: flex;">
                            <div>
                                <button type="submit" value="{{ task['id'] }}" name="complete">Complete</button>
                            </div>

                            <div style="margin-left: 10px;">
                                <button type="submit" value="{{ task['id'] }}" name="delete">Delete</button>
                            </div>
                        </div>
                    </div><br><br>
                </form>
            {% else %}
                <form action="/done" method="post" >
                    <div style="">
                            <h1>{{ task["id"] }}. <s>{{ task["obj"] }}</h1></s>
                        <div style="display: flex;">
                            <div>
                                <button type="submit" value="{{ task['id'] }}" name="complete">Uncomplete</button>
                            </div>

                            <div style="margin-left: 10px;">
                                <button type="submit" value="{{ task['id'] }}" name="delete">Delete</button>
                            </div>
                        </div>
                    </div><br><br>
                </form>
            {% endif %}
        {% endfor %}

    </div>


</body>
</html>